body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Alteração para coluna para que os elementos fiquem um embaixo do outro */
  align-items: center;
  min-height: 100vh; /* Alteração para min-height para garantir que o corpo cubra toda a altura da janela de visualização */
  background-color: #f4f4f4;
}

form {
  width: 300px; /* Largura fixa para o formulário */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Espaçamento na parte inferior do formulário */
}

.input-container {
  width: 100%; /* Para garantir que os inputs ocupem toda a largura do formulário */
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.result {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Largura igual à do formulário */
}
